
  /**
   *  CartoDB map style components 
   */ 

  div.cartodb-header *,
  div.cartodb-popup *,
  div.cartodb-timeslider *,
  div.cartodb-dropdown {
    -webkit-margin-before:0em;
    -webkit-margin-after:0em;
    -webkit-padding-start:0em;
  }
  
  /* CartoDB header component */

  div.cartodb-header {
    position: relative;
    display: block;
    background: #FFF;
    border: none;
    border-bottom: 1px solid #808080; /*IE*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin:0;
    padding:20px;
    -moz-border-radius-topleft: 1px;
    -webkit-border-top-left-radius: 1px;
    border-top-left-radius: 1px;
    -moz-border-radius-topright: 1px;
    -webkit-border-top-right-radius: 1px;
    border-top-right-radius: 1px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 6px 4px -2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 6px 4px -2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 6px 4px -2px;
    /*-webkit-transform: translateZ(10px);*/
    /*-moz-transform: translateZ(10px);*/
    /*-ms-transform: translateZ(10px);*/
    /*-o-transform: translateZ(10px);*/
    /*transform: translateZ(10px);*/
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    z-index: 0;
  }

  div.cartodb-header h1 {
    width:80%; /* Necessary to support small iframes or displays*/
    padding:0;
    margin:0;
    font-weight: bold;
    font-size: 17px;
    color: #397DBA;
    line-height:normal;
    text-align:left;
  }

  div.cartodb-header h1 a {
    font-weight: bold;
    font-size: 17px;
    color: #397DBA;
    word-wrap: break-word;
    text-decoration: none;
  }

  div.cartodb-header h1 a:hover {
    text-decoration: underline;
  }

  div.cartodb-header > p {
    width:80%; /* Necessary to support small iframes or displays*/
    margin:5px 0 0 0;
    padding: 0;
    font-weight: normal;
    font-size: 13px;
    color: #999999;
    text-align:left;
  }

  div.cartodb-header div.social {
    position:absolute;
    top:50%;
    right:20px;
    margin:-13px 0 0 0;
  }

  div.cartodb-header div.social a {
    display:inline-block;
    zoom: 1;
    *display: inline;
    _height: 26px;
    height:26px;
    width:26px;
    display: -moz-inline-stack;
    vertical-align: top;
    text-indent: -9999px;
    *text-indent:0px;
    font-size: 0;
    line-height: 0;
    text-transform: uppercase;
    background:url('../img/other.png') no-repeat 0 0;
  }

  div.cartodb-header div.social a.twitter {
    margin-left:3px;
    background:url('../img/other.png') no-repeat -26px 0;
  }

  div.cartodb-header a.share:hover {
    background: #E6E6E6;
  }

  div.cartodb-header a.share {
    position: absolute;
    top: 11px;
    right: 10px;

    padding: 6px 7px;
    font: bold 10px "Helvetica", Arial;
    color: #397DB8;
    background: #F5F5F5;
    border: 1px solid #999999;
    line-height: 150%;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    text-transform: uppercase;


    -webkit-transform-style: "linear";
    -moz-transform-style: "linear";
    -ms-transform-style: "linear";
    -o-transform-style: "linear";
    transform-style: "linear";

    -webkit-transition-property: box-shadow,border;
    -moz-transition-property: box-shadow,border;
    -o-transition-property: box-shadow,border;
    transition-property: box-shadow,border;
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    transition-duration: 250ms;

    border-color: #C3C3C3;
    background-color: #F5F5F5;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    text-decoration: none;
    cursor: pointer;
  }

  /* CartoDB Share Dialog styles */

  .cartodb-share-dialog {
    display:none;
  }

  .cartodb-share-dialog .mamufas {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0, 0.5);
    cursor: default;
    z-index:1000001;
  }

  .cartodb-share-dialog section.modal {
    position:absolute;
    top: 50%;
    left: 50%;
    margin-left: -216px;
    margin-top: -107px;

    webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 4px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    border: 1px solid #999999;

    font-weight: bold;
    font-family: "Segoe UI Bold", "Helvetica Bold", "Helvetica", Arial;
    color: #333;
    line-height: normal;
  }

  .cartodb-share-dialog.small section.modal {
    margin-left: -108px;
    margin-top: -165px;
  }
  .cartodb-share-dialog.small section.block .buttons {
    margin: 0 0 10px 0;
  }
  .cartodb-share-dialog.small section.block .buttons ul {
    border:none;
    padding: 0;
  }

  .cartodb-share-dialog.small section.block .content .embed_code {
    padding: 0;
  }

  .cartodb-share-dialog section.modal a.close {
    position:absolute;
    top:-15px;
    right:-15px;
    width:30px;
    height:15px;
    padding:7px 0 8px;
    background:white;
    font:normal 13px "Helvetica",Arial;
    text-decoration:none;

    webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 4px;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;

    line-height:14px;
    text-align:center;
    z-index:5;
  }

  .cartodb-share-dialog section.block {
    background:white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 4px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 4px 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 4px 3px;

  }

  .cartodb-share-dialog section.block .buttons ul {
    margin: 0;
    padding: 0 24px 0 0;
    border-right: 1px solid #E5E5E5;
  }

  .cartodb-share-dialog section.block .buttons li {
    list-style:none;
    margin: 0 0 4px 0;
    padding: 0;
  }

  .cartodb-share-dialog section.block .buttons li a {
    display:block;
    padding: 10px 13px 11px 30px;
    width: 121px;
    font-size: 13px;
    font-weight:bold;
    color:#fff;
    background:#3D8FCA;

    text-decoration:none;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }

  .cartodb-share-dialog section.block .buttons li a.twitter { 
    background:#3D8FCA url('../img/twitter.png') no-repeat 10px 50%;
  }
  .cartodb-share-dialog section.block .buttons li a.twitter:hover { background-color:#3272A0; }

  .cartodb-share-dialog section.block .buttons li a.facebook { 
    background:#3B5998 url('../img/facebook.png') no-repeat 10px 50%;
  }
  .cartodb-share-dialog section.block .buttons li a.facebook:hover { background-color: #283C65; }

  .cartodb-share-dialog section.block h3, .cartodb-share-dialog section.block p, .cartodb-share-dialog section.block a, .cartodb-share-dialog section.block label {letter-spacing:0;}

  .cartodb-share-dialog section.block div.head {
    position:relative;
    padding: 5px 26px; 
    border-bottom:1px solid #E5E5E5;
  }

  .cartodb-share-dialog section.block h3 { font-size: 15px; font-size: bold; }
  .cartodb-share-dialog section.block h4 { 
    font-size: 13px;
    font-size: bold;
    color: #666666;
    padding: 0; margin: 0;
    margin: 0 0 9px 0;
  }

  .cartodb-share-dialog section.block .content .buttons,
  .cartodb-share-dialog section.block .content .embed_code {
    display:inline-block; zoom: 1; *display: inline; vertical-align:top;
  }

  .cartodb-share-dialog section.block .content .buttons {
    /*padding-right: 24px;*/
  }
  .cartodb-share-dialog section.block .content .embed_code {
    padding-left: 24px;
  }
  .cartodb-share-dialog section.block .content .embed_code textarea {
    resize: none;
    padding: 5px;
    width: 153px;
    height: 66px;
    border: 1px solid #C3C3C3;
    background: #F5F5F5;
    font-size: 11px;
    color: #666666;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

  }

  .cartodb-share-dialog section.block .content {
    padding: 20px 26px 30px 26px; 
  }

  div.cartodb-mobile div.cartodb-timeslider .ui-slider .ui-slider-handle {
    /*display:none!important;*/
  }

  div.cartodb-mobile.open {

    background:#fff;
    border: 1px solid #999999;

    clear:both;
    overflow:hidden;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;

  }

  div.cartodb-mobile .top-shadow,
  div.cartodb-mobile .bottom-shadow {
    display:none;
    height: 20px;
    width: 100%;

    position:absolute;
    left: 0;
    z-index: 100;
    pointer-events:none;
  }

  div.cartodb-mobile .top-shadow,
  div.cartodb-mobile .bottom-shadow {
    display:none;
  }

  div.cartodb-mobile .top-shadow {
    top: 0;
    height: 13px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255,255,255,0.95)), color-stop(100%, rgba(255,255,255,0.04)));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.04) 100%);
    background-image: -moz-linear-gradient(top, rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.04) 100%);
    background-image: -o-linear-gradient(top, rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.04) 100%);
    background-image: linear-gradient(top, rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.04) 100%);

    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  div.cartodb-mobile .bottom-shadow {
    bottom: 0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255,255,255,0.04)), color-stop(100%, rgba(255,255,255,0.95)));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.95) 100%);
    background-image: -moz-linear-gradient(top, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.95) 100%);
    background-image: -o-linear-gradient(top, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.95) 100%);
    background-image: linear-gradient(top, rgba(255,255,255,0.04) 0%,rgba(255,255,255,0.95) 100%);

    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  div.cartodb-mobile .legends .cartodb-legend-stack {
    bottom: auto; right: auto; left: auto; top: auto;
  }

  div.cartodb-mobile .legends .cartodb-legend-stack .cartodb-legend {
    border-color: #E5E5E5;
    padding: 13px 10px 14px 10px;
  }

  div.cartodb-mobile .legends .cartodb-legend-stack .legend-title {
    border-bottom: 1px solid #E5E5E5;
    padding: 0 0 10px 0;
  }

  div.cartodb-mobile.open.legends .legends { display:block; height: 110px;}
  div.cartodb-mobile.open.legends { height: 110px;}

  div.cartodb-mobile.open .legends {
    position:relative;
    clear:both;

    display:none;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;

    background-color:transparent;

    overflow-x:hidden;
    overflow-y:scroll;
  }

  div.cartodb-mobile.open .torque {
    background-color:transparent;
  }

  div.cartodb-mobile.open .toggle {

    background-color: transparent;
    webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;

    border: none;
    z-index: 110;

  }

  div.cartodb-mobile .cartodb-timeslider ul {
    height: 40px;
  }

  div.cartodb-mobile .cartodb-timeslider li.controls {
    /*display:none;*/
    /*width: 48px;*/
  }

  div.cartodb-mobile .cartodb-timeslider li.time {
    webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  div.cartodb-mobile .cartodb-legend-stack,
  div.cartodb-mobile .cartodb-timeslider {
    bottom: 0; left: 0;
    margin: 0;
    width: 100%;
    background:none;
    box-shadow:none;
    border:none;
  }

  div.cartodb-mobile .cartodb-legend-stack .cartodb-legend.density ul,
  div.cartodb-mobile .cartodb-legend-stack .cartodb-legend.intensity ul,
  div.cartodb-mobile .cartodb-legend-stack .cartodb-legend.choropleth ul {
    width: 230px;
  }

  div.cartodb-mobile .cartodb-legend-stack .cartodb-legend div.legend-title {
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  div.cartodb-mobile {
    display:none;
    position:absolute;
    bottom: 35px;
    right: 20px;
    z-index: 5;
    height: 40px;
    max-width: 280px;
  }

  div.cartodb-mobile.legends,
  div.cartodb-mobile.torque {
    display:block;
  }

  div.cartodb-mobile.open.legends.torque {
    height: 110px;
  }

  div.cartodb-mobile.open.legends .top-shadow,
  div.cartodb-mobile.open.legends .bottom-shadow{
    display:block;
  }

  div.cartodb-mobile.open.torque .toggle {
    border-left:1px solid #E5E5E5;
    border-bottom:1px solid #E5E5E5;
  }

  div.cartodb-mobile.torque .toggle {
    border-left:1px solid #E5E5E5!Important;
  }

  div.cartodb-mobile.open.torque .top-shadow {
    top: 41px;

    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  div.cartodb-mobile.open.torque .legends {
    top: 40px;
    height: 70px;
  }

  div.cartodb-mobile.torque .torque {
    display:block;
    width: 100%;
  }

  div.cartodb-timeslider .slider-wrapper .slider {
    width: 100%;
  }

  div.cartodb-mobile .torque {
    height: 40px;
    width: 240px;
    position:absolute;
    background:#fff;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;

    webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    border-bottom: 1px solid #E5E5E5;

    z-index: 9;
  }

  div.cartodb-mobile .torque, 
  div.cartodb-mobile .legends {
    display:none;
  }

  div.cartodb-mobile .legends {
    display:none;
    background:transparent;
  }


  div.cartodb-mobile.torque {
    webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    border: 1px solid #999999;
    background:#fff;
  }

  div.cartodb-mobile.torque .torque {
    background:none;
    border:none;
  }

  div.cartodb-mobile.open.torque.legends .torque {
    border-bottom: 2px solid #E5E5E5;
  }

  div.cartodb-mobile.torque .toggle {
    border:none;

    background-color:transparent;

    webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;

    webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  div.cartodb-mobile .toggle {

    position:absolute;
    right: 0; top: 0;
    background:#fff;

    webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    border: 1px solid #999999;

    display:block;
    width: 40px;
    height: 30px;
    margin: auto;

    padding: 5px 0;

    background: url('../img/burguer.png') no-repeat center center white;
    z-index: 10;
  }


  /* CartoDB Legend styles */

  div.cartodb-legend-stack {
    position:absolute;
    bottom: 35px;
    right: 20px;

    webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    border: 1px solid #999999;
    background: white;
    z-index: 5;

    cursor: text;
  }

  div.cartodb-legend-stack div.cartodb-legend {
    position:relative;
    top: auto; right: auto; left: auto; bottom: auto;
    background: none;
    border:none;
    margin: 0;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0px;

    border-bottom: 1px solid #999;

    webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    cursor: text;
  }

  div.cartodb-legend-stack div.cartodb-legend:last-child {
    border-bottom: none;
  }

  div.cartodb-legend {
    position:absolute;
    bottom: 35px;
    right: 20px;
    padding: 13px 15px 14px 15px;

    font:normal 13px "Helvetica",Arial;
    color:#858585;
    text-align: left;
    webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    border: 1px solid #999999;
    background: white;
    z-index: 5;
  }

  div.cartodb-legend .legend-title {
    margin: 0 0 10px 0;
    text-align:left;
    color:#666;
    font-weight:bold;
    font-size:11px;
    text-transform: uppercase;
  }

  div.cartodb-legend ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  div.cartodb-legend ul li {
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: #666666;
    font-weight:bold;
    font-family: "Helvetica", Arial;
    text-transform: uppercase;
    line-height: normal;
  }

  /* None legend */
  div.cartodb-legend-stack div.cartodb-legend.none,
  div.cartodb-legend.none {
    display:none;
  }

  div.map div.cartodb-legend-stack div.cartodb-legend.wrapper .cartodb-legend {
    padding: 0;
    display:block;
  }

  div.cartodb-legend.wrapper .cartodb-legend {
    display:block;
    padding: 0;
  }

  /* Custom legend */

  div.cartodb-legend.custom ul li,
  div.cartodb-legend.category ul li,
  div.cartodb-legend.color ul li {
    position:relative;
    margin: 0 0 7px 0;
    font-size: 10px;
    color: #666666;
    font-weight:bold;
    font-family: "Helvetica", Arial;
    text-transform: uppercase;
    text-align: left;
    line-height: normal;
    height: 10px;
    line-height: 10px;
    vertical-align:middle;
  }


  div.cartodb-legend.custom ul li.bkg,
  div.cartodb-legend.category ul li.bkg,
  div.cartodb-legend.color ul li.bkg {
    height: 20px;
    line-height: 24px;
    margin: 0 0 15px 0;
  }

  div.cartodb-legend.custom ul li.bkg .bullet,
  div.cartodb-legend.category ul li.bkg .bullet,
  div.cartodb-legend.color ul li.bkg .bullet {
    height: 20px; 
    width: 20px; 
    border: 1px solid rgba(0, 0, 0, .3);
    border:none;
    background-size: 26px 26px!important;
    background-position: center center!important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }

  div.cartodb-legend.custom ul li.bkg:last-child,
  div.cartodb-legend.color ul li.bkg:last-child,
  div.cartodb-legend.category ul li.bkg:last-child { margin: 0 0 5px 0; }


  div.cartodb-legend.custom ul li:last-child,
  div.cartodb-legend.color ul li:last-child,
  div.cartodb-legend.category ul li:last-child { margin: 0; }

  div.cartodb-legend.custom ul li .bullet,
  div.cartodb-legend.category ul li .bullet,
  div.cartodb-legend.color ul li .bullet {
    float:left;
    margin: 0 5px 0 0;
    width: 3px; 
    height: 3px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

    padding: 2px;
    background:#fff;
    border: 1px solid rgba(0, 0, 0, .2);
    z-index: 1000;
  }

  /* Bubble legend */
  div.cartodb-legend.bubble {
    text-align:center;
  }

  div.cartodb-legend.bubble ul {
    clear:both;
    overflow: hidden;

    display: -moz-inline-stack;
    display: inline-block;
  }

  div.cartodb-legend.bubble ul li { 
    position:relative;
    float: left;
    top: 15px;
  }

  div.cartodb-legend.bubble ul li.graph { 
    top: 0;
    width: 120px;
    height: 40px;
    margin: 0 10px;
    background: #f1f1f1;
  }

  div.cartodb-legend.bubble ul li.graph .bubbles {
    background:url('../img/bubbles.png') no-repeat 0 0;
    width:120px; height:40px;
  }


  /* Choropleth legend */
  div.cartodb-legend.choropleth {
    padding: 13px 15px 15px 15px;
  }

  div.cartodb-legend.choropleth ul {
    min-width: 210px;
  }

  div.cartodb-legend.choropleth li.min {
    float: left;
    margin: 0 0 5px 0;
  }

  div.cartodb-legend.choropleth li.max {
    float: right;
    margin: 0 0 5px 0;
  }

  div.cartodb-legend.choropleth li.graph div {
    width: 10px;
    height: 22px;
  }

  div.cartodb-legend.choropleth li.graph .quartile { display: table-cell; }
  div.cartodb-legend.choropleth li.graph.count_7 .quartile { width: 30px; }
  div.cartodb-legend.choropleth li.graph.count_5 .quartile { width: 42px; }
  div.cartodb-legend.choropleth li.graph.count_3 .quartile { width: 70px; }

  div.cartodb-legend.choropleth li.graph .colors {
    display: table-row;
  }

  div.cartodb-legend.choropleth li.graph {
    clear:both;
    overflow:hidden;

    display: table;

    width: 100%;
    height: 22px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding;

    /*box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);*/
    border: 1px solid #b3b3b3;
  }

  /* Density legend */
  div.cartodb-legend.density {
    padding: 13px 15px 15px 15px;
  }

  div.cartodb-legend.density ul {
    min-width: 210px;
  }

  div.cartodb-legend.density li.min {
    float: left;
    margin: 0 0 5px 0;
  }

  div.cartodb-legend.density li.max {
    float: right;
    margin: 0 0 5px 0;
  }

  div.cartodb-legend.density li.graph div {
    width: 10px;
    height: 22px;
  }

  div.cartodb-legend.density li.graph .quartile { display: table-cell; }
  div.cartodb-legend.density li.graph.count_7 .quartile { width: 30px; }
  div.cartodb-legend.density li.graph.count_5 .quartile { width: 42px; }
  div.cartodb-legend.density li.graph.count_3 .quartile { width: 70px; }

  div.cartodb-legend.density li.graph .colors {
    display: table-row;
  }

  div.cartodb-legend.density li.graph {
    clear:both;
    overflow:hidden;

    display: table;
    width: 100%;
    height: 22px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding;

    /*box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);*/
    border: 1px solid #b3b3b3;
  }

  /* Intensity legend */

  div.cartodb-legend.intensity {
    padding: 13px 15px 15px 15px;
  }

  div.cartodb-legend.intensity ul {
    min-width: 210px;
  }

  div.cartodb-legend.intensity li.min {
    float: left;
    margin: 0 0 5px 0;
  }

  div.cartodb-legend.intensity li.max {
    float: right;
    margin: 0 0 5px 0;
  }

  div.cartodb-legend.intensity li.graph {
    clear:both;

    width: 100%;
    height: 22px;
    background:#f1f1f1;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding;

    /*border: 1px solid #b3b3b3;*/
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    -o-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);

  }

  /* CartoDB Zoom styles */

  div.cartodb-zoom {
    position: relative;
    float:left;
    display:block;
    margin: 20px 0 0 20px;
    width: 28px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    z-index: 5;
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #999999;
  }

  div.cartodb-zoom a {
    position:relative;
    display: block;
    width: 28px;
    height: 28px;
    padding: 0;
    font: bold 20px "Arial";
    color: #999999;
    text-align: center;
    line-height: normal;
    text-decoration: none;
    text-indent: -9999px;
    line-height: 0;
    font-size: 0;
    background:url('../img/other.png') no-repeat 0 0;
  }

  div.cartodb-zoom a.zoom_in {
    border-bottom: 1px solid #E6E6E6;
    background-position:-68px 10px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  div.cartodb-zoom a.zoom_in:hover {
    background-position:-68px -14px;
    cursor: pointer;
  }

  div.cartodb-zoom a.zoom_out {
    background-position:-94px 10px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  div.cartodb-zoom a.zoom_out:hover {
    background-position:-94px -14px;
    cursor: pointer;
  }

  div.cartodb-zoom a.disabled {
    filter: alpha(opacity=20);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
  }

  div.cartodb-zoom a.disabled:hover {
    cursor: default;
    color: #999999;
  }


  /* CartoDB zoom info control */

  div.cartodb-zoom-info {
    position:absolute;
    display:block;
    top:100px;
    left:20px;
    margin:20px 0 0 0;
    width: 28px;
    height:28px;
    font:normal 13px "Helvetica",Arial;
    color:#858585;
    text-align: center;
    line-height: 28px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    z-index: 5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #999999;
    background: white;
  }


  /* Tiles loader control */

  div.cartodb-tiles-loader {
    position:relative;
    float:left;
    display:block;
    left:0;
    top:0;
  }

  div.cartodb-tiles-loader div.loader {
    position:absolute;
    display:block;
    top:70px;
    left:-30px;
    margin:20px 0 0 0;
    width: 28px;
    height:28px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    z-index: 5;
    background: url('../img/loader.gif') no-repeat center center white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #999999;
  }


  /* CartoDB layer selector box */

  div.cartodb-layer-selector-box {
    position: relative;
    display:block;
    float:right;
    margin: 20px 20px 0 0;
    width: 142px;
    height:29px;
    color: #CCCCCC;
    font-size:13px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    z-index: 5;
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #999999;
    z-index:5;
  }

  div.cartodb-layer-selector-box a.layers {
    float:left;
    width: 126px;
    padding: 6px 8px;
    line-height:20px;
    color: #CCC;
    text-decoration:none;
    font-family: "robotoregular", Helvetica, Arial, Sans-serif;
  }

  div.cartodb-layer-selector-box a.layers:hover {
    color:#bbb;
  }
  div.cartodb-layer-selector-box a.layers:hover .count {
    background:#ccc;
  }

  div.cartodb-layer-selector-box a.layers .count {
    position:absolute;
    right:6px;
    top:6px;
    width:auto;
    padding: 3px 6px;
    margin:0;
    font-size:10px;
    color: #fff;
    line-height:12px;
    background:#DDDDDD;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
  }

  div.cartodb-layer-selector-box div.cartodb-dropdown {
    padding:0;
    margin:0;
  }

  div.cartodb-layer-selector-box div.cartodb-dropdown ul {
    padding:0;
    margin:0;
    list-style:none;
    border:1px solid 999999;
  }

  div.cartodb-layer-selector-box div.cartodb-dropdown ul li {
    border-bottom:1px solid #EDEDED;
    position:relative;
  }

  div.cartodb-layer-selector-box div.cartodb-dropdown ul li:last-child {
    border-bottom:none;
  }

  div.cartodb-layer-selector-box div.cartodb-dropdown ul li:hover {
    background:#fff;
  }

  div.cartodb-layer-selector-box div.cartodb-dropdown ul li a.layer {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    width:104px;
    padding: 13px 13px 15px 13px;
    zoom: 1;
    color: #666666;
    font:normal 13px "Helvetica Neue","Helvetica",Arial;
    text-decoration:none;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  div.cartodb-layer-selector-box div.cartodb-dropdown ul li:hover a.layer {
    text-decoration: underline;
    color:#545454;
  }

  div.cartodb-layer-selector-box div.cartodb-dropdown ul li a.switch {
    position:absolute;

    top: 13px;
    right: 10px;

    text-indent:-9999px;
    vertical-align:middle;
    width:23px;
    height:12px;
    padding: 0;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;

    -webkit-transform-style: "linear";
    -moz-transform-style: "linear";
    -ms-transform-style: "linear";
    -o-transform-style: "linear";
    transform-style: "linear";
    -webkit-transition-property: left;
    -moz-transition-property: left;
    -o-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 180ms;
    -moz-transition-duration: 180ms;
    -o-transition-duration: 180ms;
    transition-duration: 180ms;

    text-decoration:none;
    border:1px solid #44759E;
  }

  div.cartodb-layer-selector-box div.cartodb-dropdown ul li a.switch:before {
    position:absolute;
    content:' ';
    top:0;
    left:0;
    width:100%;
    height:100%;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;

    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.18)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0));
    background: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0));

    z-index:0;
  }

  div.cartodb-layer-selector-box div.cartodb-dropdown ul li a.switch span.handle {
    position: absolute;
    top: 0px;
    left: 12px;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid #44759e;
    background: #F2F2F2;
    z-index: 2;
    -webkit-transform-style: "linear";
    -moz-transform-style: "linear";
    -ms-transform-style: "linear";
    -o-transform-style: "linear";
    transform-style: "linear";
    -webkit-transition-property: left;
    -moz-transition-property: left;
    -o-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 180ms;
    -moz-transition-duration: 180ms;
    -o-transition-duration: 180ms;
    transition-duration: 180ms;
  }

  div.cartodb-layer-selector-box div.cartodb-dropdown ul li a.switch.enabled {
    border-color:#44759E;
    background:#56AFEF;
  }

  div.cartodb-layer-selector-box div.cartodb-dropdown ul li a.switch.enabled span.handle {
    left:12px;
    border-color:#44759E;
  }

  div.cartodb-layer-selector-box div.cartodb-dropdown ul li a.switch.disabled {
    opacity:1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
    filter: alpha(opacity=100);
    border-color:#CCCCCC;
    background:#D8D8D8;
  }

  div.cartodb-layer-selector-box div.cartodb-dropdown ul li a.switch span.handle {
    left:0;
    border-color:#999999;
  }

  div.cartodb-layer-selector-box div.cartodb-dropdown ul li a.switch:hover {cursor:pointer!important;}

  div.cartodb-layer-selector-box div.cartodb-dropdown ul li a.switch.working {
    opacity:0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=.5);
    filter: alpha(opacity=50);
  }

  div.cartodb-layer-selector-box div.cartodb-dropdown ul li a.switch.working:hover {cursor:default!important;}


  /* CartoDB search box control */

  div.cartodb-searchbox {
    position: relative;
    display:block;
    float:right;
    margin: 20px 20px 0 0;
    width: 142px;
    height:29px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    z-index: 5;
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #999999;
    z-index:5;
  }

  div.cartodb-searchbox span.loader {
    position: absolute;
    display:none;
    top:3px;
    left:3px;
    width:22px;
    height:22px;
    background: url('../img/loader.gif') no-repeat center center white;
    z-index:5;
  }

  div.cartodb-searchbox input.text {
    position: absolute;
    top:6px;
    left:30px;
    width:103px;
    padding:0;
    margin:0;
    line-height:17px;
    border:none;
    background:none;
    border-bottom:1px dotted #CCCCCC;
    font:normal 14px Arial;
    color:#999999;
    text-align:left;
    z-index:2;
  }

  div.cartodb-searchbox input.text:focus {
    outline:none;
    border-color:#999999;
    color:#666666;
  }

  div.cartodb-searchbox input.submit {
    position: absolute;
    left:8px;
    top:8px;
    width:12px;
    height:12px;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
    text-transform: uppercase;
    border:none;
    background: url('../img/other.png') no-repeat -56px 0;
    z-index:1;
  }

  div.cartodb-searchbox input.submit:hover {
    cursor:pointer;
  }


  /* CartoDB infobox control */

  div.cartodb-infobox {
    padding: 20px;
    position: absolute;
    display: inline-block;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    z-index: 5;
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #999999;
    text-align:left;
    z-index:5;
  }

  /* CartoDB dropdown */
  div.cartodb-dropdown {
    position:absolute;
    display:none;
    background:white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border:none;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0 0 4px 1px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0 0 4px 1px;
    -ms-box-shadow: rgba(0,0,0,0.2) 0 0 4px 1px;
    -o-box-shadow: rgba(0,0,0,0.2) 0 0 4px 1px;
    box-shadow: rgba(0,0,0,0.2) 0 0 4px 1px;
    z-index:50;
  }

  div.cartodb-dropdown.border {
    border:1px solid #999999;
  }

  div.cartodb-dropdown div.tail {
    position:absolute;
    top:-6px;
    right:10px;
    width:0;
    height:0;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-bottom:6px solid #999;
    z-index:0;
  }

  div.cartodb-dropdown div.tail span.border {
    position:absolute;
    top:1px;
    left:-6px;
    width:0;
    height:0;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-bottom:6px solid white;
    z-index:2;
  }


  /* CartoDB tooltip control */

  div.cartodb-tooltip {
    position: absolute;
    z-index: 5;
    display: none;
  }

  div.cartodb-tooltip p {
    font-family: "robotoregular", Helvetica, Arial, Sans-serif;
    font-size: 15px;
    color: #333;
    text-align:left;
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
  }


  /* Gmaps attribution */
  div#cartodb-gmaps-attribution {
    position:absolute;
    display:block;
    bottom:19px;
    right:0;
    height:19px;
    line-height:19px;
    padding:0 6px 0 50px;
    background: white;
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.5) 50px);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0px,rgba(255, 255, 255, 0.498039) 50px);
    background: linear-gradient(left, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.498039) 50px);
    background: -moz-linear-gradient(left center , rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.5) 50px) repeat scroll 0% 0% transparent;
    font-family: Arial, sans-serif;
    font-size: 10px;
    color: rgb(68, 68, 68)!important;
    white-space: nowrap;
    direction: ltr;
    text-align: right;
    background-position:initial initial;
    background-repeat: initial initial;
    border:none;
    z-index:10000;
  }  

  div#cartodb-gmaps-attribution a {
    color: rgb(68,68,68);
    text-decoration: underline;
  }

  /* SLIDER */
  div.cartodb-timeslider {
    position: absolute;
    display: inline-block;
    height:40px;
    width:auto!important;
    margin-bottom:30px;
    padding:0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    z-index: 5;
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #999999;
    text-align:left;
    z-index:5;
  }

  div.cartodb-timeslider ul {
    display:block;
    height:40px;
    margin:0;
    padding:0;
    line-height:40px;
    list-style:none;
    cursor: default;
  }

  div.cartodb-timeslider ul li {
    display:inline-block; zoom: 1; *display: inline; vertical-align:top;
    height:40px;
    _height:40px;
    width:auto;
    line-height:40px;
    border-right:1px solid #E5E5E5;
  }

        div.cartodb-timeslider ul li.last {
          border-right:none;
        }

        div.cartodb-timeslider a.button {
          display:block;
          width:48px;
          height:40px;
          text-indent:-9999px;
          line-height:0;
          font-size:0;
          background:url('../img/slider.png') no-repeat -2px -55px;
        }

        div.cartodb-timeslider a.button:hover {
          background-position:-42px -55px;
        }

        div.cartodb-timeslider a.button.stop {
          background-position:-2px -4px;
        }

        div.cartodb-timeslider a.button.stop:hover {
          background-position:-42px -4px;
        }

        div.cartodb-timeslider p {
          width:75px;
          height:40px;
          margin:0;
          padding:0 5px 0 0;
          line-height:40px;
          font-size:13px;
          font-weight:bold;
          font-family: 'Helvetica',Arial;
          text-align:center;
          color:#999999;
        }
